<% 
  category ||= nil

  data = {
    controller: "refine--turbo-stream-link",
    action: "refine--turbo-stream-link#visit",
    refine__typeahead_list_target: "listItem",
    list_item_value: condition.display,
  } 
  if category && category.present?
    data[:category] = category
  end
  link_class = "refine--condition-list-item refine--condition-list-card"
  link_class += " refine--condition-list-card"
%>
<%= link_to(
  new_refine_advanced_inline_criterion_url(@criterion.to_params.deep_merge(refine_inline_criterion: {condition_id: condition.id})),
  {
    class: link_class,
  }.merge(data: data)) do %>
  <% if condition.has_icon? %>
    <% if condition.icon_class.present? %>
      <div class="refine--condition-list-icon-container <%= condition.icon_container_class %>">
        <i class="refine--condition-list-card-icon <%= condition.icon_class %>"></i>
      </div>
    <% else %>
      <%= render partial: condition.icon_template[:template_path], locals: condition.icon_template[:locals] %>
    <% end %>
  <% end %>
  <span class="refine--condition-list-card-text" 
        data-controller="tooltip"
        data-tooltip-content-value="<%= condition.display %>"
        data-tooltip-other-options-value='{"delay": 1000}'
  >
    <%= condition.display %>
  </span>
<% end %>