<%# Filter Pill partial %>

<%= render "hammerstone/refine/inline/filters/popup",
  frame_id: dom_id(criterion) do
%>

  <div class="refine--condition-pill-wrapper">
    <div class="refine--condition-pill">
      <%= link_to criterion.condition_display, edit_hammerstone_refine_inline_criterion_path(criterion.position, criterion.to_params), class: "refine--condition-pill-name", data: {turbo_stream: true} %>
      <div class="refine--remove-condition"></div>
      <%= link_to hammerstone_refine_inline_criterion_path(criterion.position, criterion.to_params), class: "refine--remove-condition", data: {method: :delete, turbo_stream: true} do %>
      <% end %>
      <div class="refine--condition-value-wrapper">
         <div class="refine--condition-value-clause"><%= criterion.clause_display %></div>
         <div class="refine--condition-value-self">
            <div><%= criterion.human_readable_value %></div>
         </div>
      </div>
    </div>

  </div>

<% end %>
