<% prefixedClass = 'flex prefixed' if meta[:prefix] %>
<%= tag.div class: prefixedClass, data: {
  action: "$change->refine--update#clause",
  controller: 'fields--super-select',
  fields__super_select_enable_search_value: 'true',
  fields__super_select_container_width_value: 'resolve',
} do %>
  <% if meta[:prefix] %>
    <span class="flex-shrink-0 bg-gray-50 border border-gray-300 rounded-md rounded-r-none p-2"><%= meta[:prefix] %></span>
  <% end %>
  <select
    data-fields--super-select-target="select"
    data-input-id='<%= input_id if defined? input_id %>'
    name="clauses"
    class="w-full flex-grow flex-shrink-0 sm:w-auto"
  >
    <% meta[:clauses].each do |clause| %>
      <option
        value="<%= clause[:id] %>"
        <% if selected_clause == clause[:id] %>selected<% end %>
      ><%= clause[:display] %></option>
    <% end %>
  </select>
<% end %>
