<%
  selected_condition_id ||= categories
    .first
    &.conditions_for_category(categories.first)
    [:id]

  conditions = @refine_filter_query.available_conditions_attributes
  uncategorized_conditions = conditions.filter { |c| c[:meta][:category].nil? }

  categories = conditions.map { |c| c[:meta][:category] }.uniq.compact

  conditions_for_category = ->(category) do
    conditions.filter { |c| condition[:meta][:category] == category}
  end
%>

<%= tag.div data: {
  action: "$change->refine--update#condition",
  controller: 'fields--super-select',
  fields__super_select_enable_search_value: 'false',
  fields__super_select_container_width_value: 'resolve',
} do %>
  <select
    data-fields--super-select-target="select"
    data-condition-id="<%= selected_condition_id %>"
    name="conditions"
    class="refine-condition-select"
  >
    <% categories.each do |category| %>
      <optgroup label="<%= category %>">
        <% conditions_for_category(category).each do |condition_option| %>
          <option
            value="<%= condition_option[:id] %>"
            <% if selected_condition_id == condition_option[:id] %>selected<% end %>
          ><%= condition_option[:display] %></option>
        <% end %>
      </optgroup>
    <% end %>
    <% uncategorized_conditions.each do |condition_option| %>
      <option
        value="<%= condition_option[:id] %>"
        <% if selected_condition_id == condition_option[:id] %>selected<% end %>
      ><%= condition_option[:display] %></option>
    <% end %>
  </select>
<% end %>
