<%= turbo_frame_tag "group_#{group_id}" do %>
  <div class="bg-gray-50 rounded p-4 mt-2 font-sans">
    <div id="<%= "criteria_#{group_id}" %>">
      <% criteria&.each_with_index do |criterion, index| %>
        <%= render partial: 'hammerstone/refine_blueprints/criterion', locals: {
          criterion: criterion, criterion_id: index } %>
      <% end %>
    </div>
    <%= form_tag(hammerstone_refine_blueprint_path, method: :get, data: {
      controller: "refine--add",
      refine__add_previous_criterion_id_value: criteria.count - 1,
    }) do %>
      <input type="hidden" name="filter" value="<%= filter_class_name %>" />
      <input
        data-refine--add-target="blueprint"
        type="hidden"
        name="blueprint"
        value="" />
      <button
        class="background-transparent text-blue-600 text-xs outline-none focus:outline-none pt-4"
        type="submit"
        style="transition: all .15s ease"
        data-action="click->refine--add#criterion"
      >
        <i class="ti ti-plus align-middle"></i> Add
      </button>
    <% end %>
  </div>
<% end %>
