<%= turbo_frame_tag "group_#{group_id}" do %>
  <div class="bg-gray-50 rounded p-4 mt-2 font-sans">
    <% if criteria.count == 0 %>
      <%= render partial: 'hammerstone/refine_blueprints/criterion', locals: {
        criterion_id: "#{group_id}_0", conditions: conditions } %>
    <% else %>
      <% criteria&.each_with_index do |criterion, index| %>
        <%= render partial: 'hammerstone/refine_blueprints/criterion', locals: {
          criterion: criterion, criterion_id: "#{group_id}_#{index}",
          conditions: conditions, blueprint_path: blueprint_path + [index] } %>
      <% end %>
    <% end %>
    <%= form_tag(hammerstone_refine_blueprint_path, method: :post, data: {
      controller: "refine--add",
      'refine--add-group-id-value': group_id,
      'refine--add-blueprint-path-value': blueprint_path
    }) do %>
      <!-- TODO remove once backend is providing conditions -->
      <input type="hidden" name="conditions" value="<%= @configuration[:conditions].to_json %>" />
      <input
        data-refine--add-target="blueprint"
        type="hidden"
        name="criterion"
        value="" />
      <button
        class="background-transparent text-blue-600 text-xs outline-none focus:outline-none pt-4" type="button" style="transition: all .15s ease"
        data-action="click->refine--add#criterion"
      >
        <i class="fas fa-plus"></i> Add
      </button>
    <% end %>
  </div>
<% end %>
