<%= turbo_frame_tag 'refine', data: {
  controller: "refine-blueprint",
  refine_blueprint_configuration_value: @configuration.to_json,
  refine_blueprint_url_value: hammerstone_refine_blueprint_path(configuration: @configuration.to_json) } do %>
  <%= turbo_frame_tag 'groups' do %>
    <% @configuration[:blueprint].each_with_index do |criteria, index| %>
      <%= render partial: 'hammerstone/refine_blueprints/group', locals: {
        conditions: @configuration[:conditions],
        criteria: criteria,
        group_id: index }
      %>
    <% end %>
  <% end %>
  <form action="<%= hammerstone_refine_blueprint_path %>" method="post">
    <input type="hidden" name="conditions" value="<%= @configuration[:conditions].to_json %>" />
    <input type="hidden" name="group_id" value="<%= @configuration[:blueprint].count %>" />
    <button type="submit" class="text-center px-4 py-2 border border-gray-300 shadow-sm text-md font-bold rounded-md text-gray-600 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 w-full mt-2">
      Add an 'Or'
    </button>
  </form>
<% end %>
