<%= turbo_frame_tag "stored_filters" do %>
  <%= content_tag :div, class: "refine-stored-filter-head-container", data: {
        controller: 'refine--stored-filter',
        refine__stored_filter_id_value: @stored_filter&.id,
        refine__stored_filter_form_id_value: @form&.id,
        refine__stored_filter_filter_name_value: @refine_filter.class.name,
        action: 'blueprint-updated@window->refine--stored-filter#updateBlueprintField turbo:frame-load->refine--stored-filter#setBlueprintFieldFromValue'
  } do %>
   <h3
      class="refine-stored-filter-header"
    >
      <%= filter_title %>
    </h3>
    <a
      href="<%= hammerstone_refine_stored_filters_path(filter: @refine_filter.class.name, filter_form_id: @form.id, filter_class: @refine_filter.class.name) %>"
      class="refine-stored-filter-link"
    >
      <%= t('global.buttons.find_filter') %>
    </a>
    <span class="text-xs ml-4 mr-4 leading-6">
      <a
        class="text-blue-600 background-transparent font-bold underline outline-none focus:outline-none"
        href="<%= new_hammerstone_refine_stored_filter_path(filter_class: @refine_filter.class.name, filter_form_id: @form.id) %>"
      >
        <%= t('global.buttons.save_filter') %>
      </a>
    </span>
  <% end %>
<% end %>
