<%= turbo_frame_tag "stored_filters" do %>
  <%= content_tag :div, class: "refine-stored-filter-head-container" do %>
   <h3
      class="refine-stored-filter-header"
    >
      <%= @stored_filter&.name || t("global.buttons.filter") %>
    </h3>
    <a
      href="<%= hammerstone_refine_stored_filters_path(@refine_filter_builder.to_params) %>"
      class="refine-stored-filter-link"
    >
      <%= t('global.buttons.find_filter') %>
    </a>
    <span class="text-xs ml-4 mr-4 leading-6">
      <a
        class="text-blue-600 background-transparent font-bold underline outline-none focus:outline-none"
        href="<%= new_hammerstone_refine_stored_filter_path(@refine_filter_builder.to_params) %>"
      >
        <%= t('global.buttons.save_filter') %>
      </a>
    </span>
  <% end %>
<% end %>
