<!DOCTYPE html>
<html lang="en">
<head>
  <title>Refine Rails</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" %>
  <%= stylesheet_link_tag "https://unpkg.com/@icon/themify-icons/themify-icons.css" %>
  <%= stylesheet_link_tag "@hammerstone/refine-rails" %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <%= yield %>
</body>
</html>
