<%= turbo_frame_tag :stored_filter_head do %>
  <%= content_tag :div, class: "refine-stored-filter-search-container" do %>
    <%= form_tag(find_hammerstone_refine_stored_filters_path, method: :post,
      class: "refine-stored-filter-search-form", data: { turbo_frame: :stored_filters }) do %>
      <!-- Saved filter selector -->
        <%= hidden_field_tag :filter, @return_params[:filter] %>
        <%= hidden_field_tag :filter_form_id, @return_params[:filter_form_id] %>
        <%= tag.div class: 'refine-stored-filter-search-selector-container', data: {
          controller: 'fields--super-select',
          fields__super_select_enable_search_value: 'true'
        } do %>
          <select
            data-fields--super-select-target="select"
            name="id"
          >
            <option disabled selected value>&mdash; Select a saved filter &mdash;</option>
            <% @stored_filters.each do |filter| %>
              <option
                value="<%= filter.id %>"
              >
                <%= filter.name %>
              </option>
            <% end %>
          </select>
        <% end %>
        <%= link_to t('global.buttons.back'), @back_link, class: "refine-stored-filter-search-button-cancel", data: { turbo_frame: stored_filters } %>
        <%= button_tag t('global.buttons.choose_filter'), type: "submit", class: "refine-stored-filter-search-button-submit" %>
      <% end %>
    <% end %>
<% end%>
