<%= turbo_frame_tag :stored_filter_head do %>
  <%= content_tag :div, class: "flex w-full py-4" do %>
   <h3 
      class="text-gray-800 font-semibold text-base"
    >
      <%= filter_title %>
    </h3>
    <a
      href="<%= hammerstone_refine_stored_filters_path(@return_params) %>"
      class="text-blue-600 background-transparent font-bold underline text-xs ml-auto leading-6 outline-none focus:outline-none"
    >
      <%= t('global.buttons.find_filter') %>
    </a>
    <span class="text-xs ml-4 mr-4 leading-6">
      <a
        class="<%= 'hidden' unless @save_button_active %> text-blue-600 background-transparent font-bold underline outline-none focus:outline-none"
        href="<%= new_hammerstone_refine_stored_filter_url(@return_params) %>"
        data-refine--stored-filter-target="enabledSaveLink"
      >
        <%= t('global.buttons.save_filter') %>
      </a>
    </span>
  <% end %>
<% end %>
   
