<%= turbo_frame_tag :stored_filter_head do %>
  <%= content_tag :div, class: "refine-stored-filter-head-container" do %>
   <h3
      class="refine-stored-filter-header"
    >
      <%= filter_title %>
    </h3>
    <a
      href="<%= hammerstone_refine_stored_filters_path(@return_params.merge(filter: @refine_filter.class.name)) %>"
      class="refine-stored-filter-link"
    >
      <%= t('global.buttons.find_filter') %>
    </a>
    <%
      href = @stored_filter ? edit_hammerstone_refine_stored_filter_url(@return_params.merge(id: @stored_filter.id)) : new_hammerstone_refine_stored_filter_url(@return_params)
    %>
    <span class="text-xs ml-4 mr-4 leading-6">
      <a
        class="text-blue-600 background-transparent font-bold underline outline-none focus:outline-none"
        href="<%= href %>"
      >
        <%= t('global.buttons.save_filter') %>
      </a>
    </span>
  <% end %>
<% end %>
