<%= turbo_frame_tag :stored_filter_head do %>
  <%= content_tag :div, class: "refine-stored-filter-container" do %>
    <% if @stored_filter.errors.any? %>
      <% @stored_filter.errors.full_messages.each do |message|%>
        <p class="refine-stored-filter-error">Name has already been taken</p>
      <%end%>
    <%end%>
    <%= form_tag(hammerstone_refine_stored_filter_path(id: @stored_filter.id), method: :put,
      class: "refine-stored-filter-form", data: { turbo_frame: :stored_filters }) do %>
        <%= hidden_field_tag :filter_form_id, @refine_filter.id %>
        <input type="text" name="name" placeholder="<%= t('global.filter_name_placeholder')%>"
          class="refine-stored-filter-input"
          value="<%= @stored_filter.name %>"
        />
        <input type="text" name="stable_id" value="<%= @stable_id %>" data-refine--stored-filter-target="stableIdField" hidden />
        <%= link_to t('global.buttons.back'), @back_link, class: "refine-stored-filter-button-cancel" %>
        <%= button_tag t('global.buttons.save'), type: "submit", class: "refine-stored-filter-button-submit" %>
      <% end %>
    <% end %>
<% end%>
