<%= turbo_frame_tag "stored_filters" do %>
  <%= content_tag :div, class: "refine-stored-filter-container", data: {
    controller: 'refine--stored-filter',
    refine__stored_filter_id_value: @stored_filter&.id,
    refine__stored_query_id_value: @refine_filter_builder.client_id,
    refine__stored_filter_state_dom_id_value: dom_id(@refine_filter_builder, "query"),
    action: 'blueprint-updated@window->refine--stored-filter#updateBlueprintField'
  } do %>
    <% if @stored_filter.errors.any? %>
      <% @stored_filter.errors.full_messages.each do |message|%>
        <p class="refine-stored-filter-error"><%= message %></p>
      <% end %>
    <% end %>
    <%= form_with(model: @refine_filter_builder, url: hammerstone_refine_stored_filters_path, method: :post,
      class: "refine-stored-filter-form", data: {
        turbo_frame: :stored_filters
      }) do |form| %>
        <%= form.hidden_field :client_id %>
        <%= form.hidden_field :filter_class %>
        <%= form.hidden_field :blueprint_json, data: {refine__stored_filter_target: "blueprintField"} %>
        <input type="text" name="name" placeholder="<%= t('global.filter_name_placeholder')%>"
          class="refine-stored-filter-input"
          value="<%= @stored_filter.name %>"
        />
        <%= link_to t('global.buttons.back'), stored_filters_hammerstone_refine_blueprint_path(@refine_filter_builder.to_params), class: "refine-stored-filter-search-button-cancel"%>
        <%= button_tag t('global.buttons.save'), type: "submit", class: "refine-stored-filter-button-submit" %>
      <% end %>
    <% end %>
<% end%>
