<%= turbo_frame_tag "stored_filters" do %>
  <% if flash.alert %>
    <p class="refine-criterion-error">
      <%= flash.alert %>
    </p>
  <% end %>

  <%= content_tag :div, class: "refine-stored-filter-search-container" do %>
    <%= form_with(
        model: @refine_filter_builder,
        url: find_refine_stored_filters_path,
        method: :post,
        class: "refine-stored-filter-search-form") do |form| %>
      <!-- Saved filter selector -->
        <%= form.hidden_field :filter_class %>
        <%= form.hidden_field :client_id %>
        <%= tag.div class: 'refine-stored-filter-search-selector-container', data: {
          controller: 'fields--super-select',
          fields__super_select_enable_search_value: 'true'
        } do %>
          <select
            data-fields--super-select-target="select"
            name="id"
          >
            <option disabled selected value>&mdash; <%= t("refine.stored_filters.select_saved_filter") %> &mdash;</option>
            <% @stored_filters.each do |filter| %>
              <option
                value="<%= filter.id %>"
              >
                <%= filter.name %>
              </option>
            <% end %>
          </select>
        <% end %>
        <%= link_to t('global.buttons.back'), stored_filters_refine_blueprint_path(@refine_filter_builder.to_params), class: "refine-stored-filter-search-button-cancel"%>
        <%= button_tag t('global.buttons.choose_filter'), type: "submit", class: "refine-stored-filter-search-button-submit" %>
      <% end %>
    <% end %>
<% end%>
