<div 
  data-controller="refine--date" 
  class="refine-date-picker-container"
  data-refine--date-locale-value="<%= I18n.locale %>"
  data-refine--date-date-format-value="<%=  I18n.t("refine.date.formats.moment") %>"
  data-refine--date-datetime-format-value="<%= I18n.t("refine.time.formats.moment") %>"
  data-refine--date-picker-locale-value="<%= I18n.t("refine.daterangepicker").deep_transform_keys { |k| k.to_s.camelize(:lower) }.to_json %>"
>
  <input
    class="refine--input"
    type="text"
    value="<%= value&.to_date && I18n.l(value&.to_date, format: I18n.t("refine.date.formats.ruby"))  %>"
    data-refine--date-target="field"
    placeholder="<%= label %>"
  />
  <%= input_fields.hidden_field attribute,
    value: value&.to_date&.strftime('%Y-%m-%d'),
    data: { refine__date_target: "hiddenField" },
    form: form_id
  %>
</div>
