<%= turbo_frame_tag dom_id(@criterion, :load), class: "refine--stored-filter-list-popup" do %>
  <div class="refine--stored-filter-list">
    <% if @stored_filters.empty? %>
      <a><%= t('.no_stored_filters') %></a>
    <% end %>


    <% @stored_filters.each do |filter| %>
      <%= form_with(
          model: @criterion,
          url: find_refine_inline_stored_filters_path,
          method: :post,
          class: "refine--stored-filter-search-form",
          data: {
            turbo_frame: "_top",
            controller: "refine--submit-form"
          }) do |form| %>
        <!-- Saved filter selector -->
          <%= form.hidden_field :stable_id %>
          <%= form.hidden_field :client_id %>
          <%= hidden_field_tag :id, filter.id %>
          <a href="#" class="refine--stored-filter-list-item" data-action="refine--submit-form#submit">
            <%= filter.name %>
          </a>
        <% end %>
    <% end %>
  </div>
<% end %>
