<%= turbo_frame_tag dom_id(@criterion, :save) do %>
  <% if false && @stored_filter.errors.any? # TODO place in tooltip%>
    <% @stored_filter.errors.full_messages.each do |message|%>
      <p class="refine-stored-filter-error"><%= message %></p>
    <% end %>
  <% end %>

  <%= form_with(
    url: hammerstone_refine_inline_stored_filters_path,
    method: :post,
    class: "refine--save-filter-form",
      data: {
      turbo_frame: dom_id(@criterion, :save)
    }) do |f| %>

      <%= fields model: @criterion do |criteria_fields| %>
        <%= criteria_fields.hidden_field :client_id %>
        <%= criteria_fields.hidden_field :stable_id %>
      <% end %>

      <%= fields model: @stored_filter do |stored_filter_fields| %>
        <%= stored_filter_fields.label :name, "#{t('.save_filter_label')}" %>

        <%# TODO replace with content-editable that writes to hidden input %>
        <div class="refine--save-filter-input-wrapper">
          <div class="refine--tooltip"><%= sanitize t('.tooltip') %></div>

          <%= stored_filter_fields.text_field :name,
            class: "refine--save-filter-input",
            placeholder: t('.save_filter_placeholder'),
            autofocus: true
           %>
        </div>
      <% end %>
  <% end %>
<% end %>
