<%= turbo_frame_tag dom_id(@criterion, :save) do %>
  <div class="refine-stored-filter-container">

    <% if @stored_filter.errors.any? %>
      <% @stored_filter.errors.full_messages.each do |message|%>
        <p class="refine-stored-filter-error"><%= message %></p>
      <% end %>
    <% end %>

    <%= form_with(
      url: hammerstone_refine_inline_stored_filters_path,
      method: :post,
      class: "refine-stored-filter-form",
        data: {
        turbo_frame: dom_id(@criterion, :save)
      }) do |f| %>

        <%= fields model: @criterion do |criteria_fields| %>
          <%= criteria_fields.hidden_field :client_id %>
          <%= criteria_fields.hidden_field :stable_id %>
        <% end %>

        <%= fields model: @stored_filter do |stored_filter_fields| %>
          <%= stored_filter_fields.text_field :name,
            class: "refine-stored-filter-input",
            placeholder: t('global.filter_name_placeholder')
           %>
        <% end %>

        <%= f.button t('global.buttons.cancel'),
          type: "button",
          class: "refine--inline-btn",
          data: { action: "click->refine--popup#hide" }
        %>

       <%= f.button t('global.buttons.save'), type: "submit", class: "refine--inline-btn" %>
    <% end %>
  </div>
<% end %>
