  <%= form.hidden_field :filter_class %>
  <%= form.hidden_field :client_id %>
  <%= form.hidden_field :blueprint_json %>
  <%= form.hidden_field :condition_id %>
  <%= form.hidden_field :conjunction%>
  <%= form.hidden_field :position %>

  <label style="color: black;"><%= @criterion.condition.display %></label>

  <%= render @criterion.form_fields_partial, criterion: @criterion, form: form %>

  <div class="refine-criterion-clause-container">
    <%= render 'clause_select', meta: @criterion.meta, selected_clause: @criterion.input[:clause] %>
  </div>

  <div class="refine-filter-builder-dropdown-button-container">
    <button class="refine--inline-btn" data-action="click->refine--popup#hide" type="button">
      <%= t('global.buttons.cancel') %>
    </button>
    <%= form.submit t('global.buttons.apply'), class: "refine--inline-btn" %>
  </div>
  <div>
