<div
  data-controller="refine--date"
  class="refine-date-picker-container"
  data-refine--date-locale-value="<%= I18n.locale %>"
  data-refine--date-date-format-value="<%=  I18n.t("hammerstone.date.formats.moment") %>"
  data-refine--date-datetime-format-value="<%= I18n.t("hammerstone.time.formats.moment") %>"
>
  <label for="<%= condition_id %>" class="sr-only"><%= label %></label>
  date: <%= date %>
  <input
    name="<%= condition_id %>"
    class="refine--date-picker-input"
    type="text"
    value="<%= date&.to_date && I18n.l(date&.to_date, format: I18n.t("hammerstone.date.formats.ruby")) %>"
    data-refine--date-target="field"
    data-action="$change->refine--update#date change->refine--update#date"
  />
</div>
