<div class="flex items-center date-input mt-3 sm:mt-0">
  <div
    class="flex-grow"
    data-controller="fields--date"
  >
    <label for="<%= condition[:id] %>" class="sr-only">First date</label>
    <input
      class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
      name="<%= condition[:id] %>"
      type="text"
      value="<%= input[:date1] %>"
      data-fields--date-target="field"
      data-input-key="date1"
      data-action="$change->refine--update#value"
    />
  </div>
  <% if input[:clause] == 'btwn' %>
    <span class="px-2">and</span>
    <div
      class="flex-grow"
      data-controller="fields--date"
    >
      <label for="<%= condition[:id] %>" class="sr-only">Second date</label>
      <input
        class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
        name="<%= condition[:id] %>"
        type="text"
        value="<%= input[:date2] %>"
        data-fields--date-target="field"
        data-input-key="date2"
        data-action="$change->refine--update#value"
      />
    </div>
  <% end %>
</div>
