<div
  data-controller="refine--date"
  class="relative"
>
  <label for="<%= condition_id %>" class="sr-only"><%= label %></label>
  <input
    class="rounded w-36 border border-solid border-coolGray-200 focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
    name="<%= condition_id %>"
    type="text"
    value="<%= date&.to_date&.strftime('%m/%d/%y') %>"
    data-refine--date-target="field"
    data-input-key="<%= input_key %>"
    data-input-id="<%= defined?(input_id) && input_id %>"
    data-action="$change->refine--update#date change->refine--update#date"
  />
</div>
