<% if ['st', 'nst'].include? input[:clause] %>
  <!-- render nothing -->
<% elsif ['exct', 'gt', 'lt'].include? input[:clause] %>
  <div class="mt-3">
    <label for="<%= condition[:id] %>" class="sr-only">Number of days</label>
    <input
      class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block sm:text-sm border-gray-300 rounded-md w-28"
      type="text"
      value="<%= input[:days] %>"
      placeholder="Number of"
      data-input-key="days"
      data-action="input->refine--update#value blur->refine--update#submitForm"
      data-input-id='<%= input_id if defined? input_id %>'
    />
  </div>
  <div class="px-2 mt-3">
    <span>days</span>
  </div>
  <div class="w-32 mt-3 sm:mr-3">
    <select
      class="w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"
      name="modifer"
      <% if input[:modifier].blank? %>
      data-controller="refine--defaults"
      data-refine--defaults-input-value="{ &quot;modifier&quot;: &quot;ago&quot; }"
      data-refine--defaults-criterion-id-value="<%= criterion_id %>"
      data-refine--defaults-input-key-value="<%= input_key_value if defined? input_key_value %>"
      <% end %>
      data-input-id='<%= input_id if defined? input_id %>'
      data-input-key="modifier"
      data-action="change->refine--update#value"
    >
      <option
        <% if input[:modifier] == 'ago' %>selected<% end %>
        value="ago"
      >
        ago
      </option>
      <option
        <% if input[:modifier] == 'from_now' %>selected<% end %>
        value="from_now"
      >
        from now
      </option>
    </select>
  </div>
<% else %>
  <div
    class="flex-grow-0 mt-3 <% if input[:clause] != 'btwn' %>sm:mr-3<% end %>"
  >
    <%= render partial: "hammerstone/refine_blueprints/clauses/date_picker", locals: {
      label: "First Date",
      condition_id: condition[:id],
      date: input[:date1],
      input_key: 'date1',
      input_id: defined?(input_id) && input_id,
    } %>
  </div>
  <% if input[:clause] == 'btwn' %>
    <span class="px-2 mt-3">and</span>
    <div class="flex-grow-0 mt-3 sm:mr-3">
      <%= render partial: "hammerstone/refine_blueprints/clauses/date_picker", locals: {
        label: "Second Date",
        condition_id: condition[:id],
        date: input[:date2],
        input_key: 'date2',
        input_id: defined?(input_id) && input_id,
      } %>
    </div>
  <% end %>
<% end %>

