<div
  data-controller="refine--date"
  class="refine-date-picker-container"
>
  <label for="<%= condition_id %>" class="sr-only"><%= label %></label>
  <input
    class="refine-date-picker-input"
    type="text"
    value="<%= date&.to_date&.strftime('%m/%d/%y') %>"
    data-refine--date-target="field"
  />
  <input
    type="hidden"
    name="<%= condition_id %>"
    value="<%= date&.to_date&.strftime('%y-%m-%d') %>"
    data-refine--date-target="hiddenField"
    data-input-key="<%= input_key %>"
    data-input-id="<%= defined?(input_id) && input_id %>"
    data-action="change->refine--update#value"
  >
</div>
