<% if ['st', 'nst'].include? input[:clause] %>
  <!-- render nothing -->
<% else %>
    <div class="flex-grow-0 mt-3 <% if input[:clause] != 'btwn' %>sm:mr-3<% end %>">
    
      <input
        class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
        name="<%= condition.id %>"
        type="text"
        value="<%= input[:value1] %>"
        data-input-key="value1"
        data-action="input->refine--update#value blur->refine--update#submitForm"
        data-input-id="<%= defined?(input_id) && input_id %>"
      />
      <%= render partial: 'hammerstone/refine_blueprints/criterion_errors', locals: { criterion: criterion } %>
    </div>

    <% if ['btwn', 'nbtwn'].include? input[:clause] %>
      <!-- Add second input for value2 if clause is between or not between -->
      <span class="px-2 mt-3">and</span>
      <div class="flex-grow-0 mt-3 sm:mr-3">

        <input
          class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
          name="<%= condition.id %>"
          type="text"
          value="<%= input[:value2] %>"
          data-input-key="value2"
          data-action="input->refine--update#value blur->refine--update#submitForm"
          data-input-id="<%= defined?(input_id) && input_id %>"
        />
        <%= render partial: 'hammerstone/refine_blueprints/criterion_errors', locals: { criterion: criterion } %>
      </div>
    <% end %>
<% end %>
