<% unless ['st', 'nst'].include? input[:clause] %>

  <div class="mt-3 mr-3">
    <label for="<%= condition[:id] %>" class="sr-only"><%= condition[:display] %></label>
    <input
      class="rounded border border-solid border-coolGray-200 focus:ring-blue-500 focus:border-blue-500 sm:text-sm <%="has-error" if errors.any? %> "
      name="<%= condition[:id] %>"
      type="text"
      value="<%= input[:value] %>"
      data-action="input->refine--update#updateBlueprint keydown->refine--update#cancelEnter"
    />

    <% if errors.any? %>
      <p class="mt-2 text-xs text-red">
        <%= errors.join(",") %>
      </p>
    <% end %>
  </div>
<% end %>
