<% form_id = dom_id(@criterion, :form) %>

<%= turbo_stream.update dom_id(@criterion) do %>
  <div class="refine--criterion-fields">
    <%= fields model: @criterion,
      data: {
        controller: "refine--criterion-form",
        refine__criterion_form_url_value: edit_refine_inline_criterion_url(
          @criterion.position, @criterion.to_params
        ),
        refine__criterion_form_turbo_frame_value: dom_id(@criterion)
      } do |form|
    %>
      <%= render "form_fields", form: form, form_id: form_id %>
    <% end %>
  </div>
<% end %>


<%= turbo_stream.append_all "body" do %>
  <%= form_with url: refine_inline_criterion_path(@criterion.position),
      method: :put,
      id: form_id,
      data: {controller: "refine--turbo-stream-form", action: "submit->refine--turbo-stream-form#submit"}
   %>
<% end %>
