<%# Filter Pill partial %>

<%= render "refine/inline/filters/popup",
  frame_id: dom_id(criterion) do
%>

  <div class="refine--condition-pill-wrapper">
    <div class="refine--condition-pill">
      <%= link_to criterion.condition_display, edit_refine_inline_criterion_path(criterion.position, criterion.to_params), class: "refine--condition-pill-name", data: {controller: "refine--turbo-stream-link", action: "refine--turbo-stream-link#visit"} %>
      <div class="refine--remove-condition"></div>
      <%= link_to refine_inline_criterion_path(criterion.position, criterion.to_params), class: "refine--remove-condition", data: {turbo_method: :delete, controller: "refine--turbo-stream-link", action: "refine--turbo-stream-link#visit"} do %>
      <% end %>
      <div class="refine--condition-value-wrapper">
         <div class="refine--condition-value-clause"><%= criterion.clause_display %></div>
         <div class="refine--condition-value-self">
            <div><%= criterion.human_readable_value %></div>
         </div>
      </div>
    </div>

  </div>

<% end %>
