<%
  groups = Refine::Inline::Criterion.groups_from_filter(@refine_filter, client_id: @refine_client_id, stable_id: @refine_stable_id)

  root_data = (defined?(data) && data) || {}

  main_row_class = class_names "refine--filter-row" => true,
    "refine--has-many-groups" => groups.many?
%>

<%= tag.div class: "refine--filter-wrapper", id: "refine-inline-filter-#{@refine_client_id}", data: root_data do %>
  <%= tag.div class: main_row_class do %>
    <% if @refine_filter.blueprint.empty? %>
      <%= render "refine/inline/filters/add_first_condition_button", position: 0, btn_class: "refine--add-first-condition-btn" %>
    <% else %>
      <div class="refine--groups-wrapper">
        <% groups.each.with_index do |group, i| %>
          <% unless i == 0 %>
              <div class="refine--group-join"><%= t("refine.inline.filters.or") %></div>
            <% end %>
            <%= render "refine/inline/filters/group", group: group, group_count: groups.count, condition_count: group.count %>
            <% if i == groups.length - 1 %>
              <%= render "refine/inline/filters/or_button", position: @refine_filter.blueprint.length %>
            <% end %>
        <% end %>

      </div>
    <% end %>
   <% if @refine_filter.blueprint&.any? %>
      <div class="refine--filter-control-group">
        <%= render "refine/inline/filters/clear_button" %>
        <%= render "refine/inline/filters/save_button" %>
      </div>
    <% end %> 
  <% end %>
  
<% end %>




